In [ ]:
#https://github.com/jrnold/ssmodels-in-stan/tree/master/StanStateSpace/data-raw
# internet.dat Number of users logged on to an internet server

In [3]:
import requests
from io import BytesIO
from zipfile import ZipFile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Download the dataset
df = pd.read_csv(r"../data/processed/concat/concatenated.csv", low_memory=False)


#df["activity-0:25"].value_counts()

In [5]:
df.describe()

                 bg
count  25143.000000
mean       7.879589
std        2.832932
min        2.800000
25%        6.000000
50%        7.200000
75%        9.000000
max       22.200000

In [7]:
df.info()
# Show rows with any NaN values
df_with_nan = df[df.isna().any(axis=1)]
print(df_with_nan)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25187 entries, 0 to 25186
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    25187 non-null  object
 1   bg      25143 non-null  float64
dtypes: float64(1), object(1)
memory usage: 393.7+ KB
                      time  bg
11502  2024-11-11 00:00:00 NaN
11503  2024-11-11 00:05:00 NaN
11504  2024-11-11 00:10:00 NaN
11505  2024-11-11 00:15:00 NaN
11506  2024-11-11 00:20:00 NaN
11507  2024-11-11 00:25:00 NaN
11508  2024-11-11 00:30:00 NaN
11509  2024-11-11 00:35:00 NaN
11510  2024-11-11 00:40:00 NaN
11511  2024-11-11 00:45:00 NaN
11512  2024-11-11 00:50:00 NaN
11513  2024-11-11 00:55:00 NaN
11514  2024-11-11 01:00:00 NaN
11515  2024-11-11 01:05:00 NaN
11516  2024-11-11 01:10:00 NaN
11517  2024-11-11 01:15:00 NaN
11518  2024-11-11 01:20:00 NaN
11519  2024-11-11 01:25:00 NaN
11520  2024-11-11 01:30:00 NaN
11521  2024-11-11 01:35:00 NaN
11522  2024-11-11 01:40:00 NaN
11523  2024-11-11 01:45:00 NaN
11524  2024-11-11 01:50:00 NaN
11525  2024-11-11 01:55:00 NaN
11526  2024-11-11 02:00:00 NaN
11527  2024-11-11 02:05:00 NaN
11528  2024-11-11 02:10:00 NaN
11529  2024-11-11 02:15:00 NaN
11530  2024-11-11 02:20:00 NaN
11531  2024-11-11 02:25:00 NaN
11532  2024-11-11 02:30:00 NaN
11533  2024-11-11 02:35:00 NaN
11534  2024-11-11 02:40:00 NaN
11535  2024-11-11 02:45:00 NaN
11536  2024-11-11 02:50:00 NaN
11537  2024-11-11 02:55:00 NaN
11538  2024-11-11 03:00:00 NaN
21736  2024-12-17 00:00:00 NaN
21737  2024-12-17 00:05:00 NaN
21738  2024-12-17 00:10:00 NaN
21739  2024-12-17 00:15:00 NaN
21740  2024-12-17 00:20:00 NaN
21741  2024-12-17 00:25:00 NaN
21742  2024-12-17 00:30:00 NaN

In [ ]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing

model = ExponentialSmoothing(df['bg'], trend=None, seasonal='add', seasonal_periods=24)
fit = model.fit()
df['bg'] = df['bg'].fillna(fit.fittedvalues)

In [14]:
p12.describe()
# List of columns to keep (as per your request)
columns_to_keep = ['p_num', 'time', 'bg-5:55', 'bg-5:50', 'bg-5:45', 'bg-5:40', 
                   'bg-5:35', 'bg-5:30', 'bg-5:25', 'bg-5:20', 'bg-5:15', 'bg-5:10', 
                   'bg-5:05', 'bg-5:00', 'bg-4:55', 'bg-4:50', 'bg-4:45', 'bg-4:40', 
                   'bg-4:35', 'bg-4:30', 'bg-4:25', 'bg-4:20', 'bg-4:15', 'bg-4:10', 
                   'bg-4:05', 'bg-4:00', 'bg-3:55', 'bg-3:50', 'bg-3:45', 'bg-3:40', 
                   'bg-3:35', 'bg-3:30', 'bg-3:25', 'bg-3:20', 'bg-3:15', 'bg-3:10', 
                   'bg-3:05', 'bg-3:00', 'bg-2:55', 'bg-2:50', 'bg-2:45', 'bg-2:40', 
                   'bg-2:35', 'bg-2:30', 'bg-2:25', 'bg-2:20', 'bg-2:15', 'bg-2:10', 
                   'bg-2:05', 'bg-2:00', 'bg-1:55', 'bg-1:50', 'bg-1:45', 'bg-1:40', 
                   'bg-1:35', 'bg-1:30', 'bg-1:25', 'bg-1:20', 'bg-1:15', 'bg-1:10', 
                   'bg-1:05', 'bg-1:00', 'bg-0:55', 'bg-0:50', 'bg-0:45', 'bg-0:40', 
                   'bg-0:35', 'bg-0:30', 'bg-0:25', 'bg-0:20', 'bg-0:15', 'bg-0:10', 
                   'bg-0:05', 'bg-0:00', 'bg+1:00']

# Drop all columns except the ones in `columns_to_keep`
p12 = p12[columns_to_keep]

p12

df = p12

In [247]:
p12

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
151725,p12,10:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,4.1,6.4
151726,p12,10:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.5,4.1,4.2,6.7
151727,p12,10:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,4.1,4.2,4.3,7.1
151728,p12,10:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.5,4.1,4.2,4.3,4.5,7.6
151729,p12,10:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.5,4.1,4.2,4.3,4.5,4.1,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177019,p12,23:35:00,8.8,9.1,9.2,9.4,9.8,10.2,10.4,10.3,...,7.5,7.9,8.2,8.7,8.6,8.9,9.3,9.7,9.8,11.1
177020,p12,23:40:00,9.1,9.2,9.4,9.8,10.2,10.4,10.3,10.1,...,7.9,8.2,8.7,8.6,8.9,9.3,9.7,9.8,10.3,10.9
177021,p12,23:45:00,9.2,9.4,9.8,10.2,10.4,10.3,10.1,10.0,...,8.2,8.7,8.6,8.9,9.3,9.7,9.8,10.3,10.7,10.7
177022,p12,23:50:00,9.4,9.8,10.2,10.4,10.3,10.1,10.0,9.8,...,8.7,8.6,8.9,9.3,9.7,9.8,10.3,10.7,11.0,10.5
177023,p12,23:55:00,9.8,10.2,10.4,10.3,10.1,10.0,9.8,9.5,...,8.6,8.9,9.3,9.7,9.8,10.3,10.7,11.0,11.6,10.2

In [260]:
p12.to_csv('../data/interim/p12_clean.csv', index=False)  # Save to a CSV file

In [225]:
first_day_df = p12[0:160]
first_day_df

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
151725,p12,10:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,4.1,6.4
151726,p12,10:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.5,4.1,4.2,6.7
151727,p12,10:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,4.1,4.2,4.3,7.1
151728,p12,10:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.5,4.1,4.2,4.3,4.5,7.6
151729,p12,10:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.5,4.1,4.2,4.3,4.5,4.1,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151880,p12,23:35:00,6.0,5.9,5.9,5.9,5.9,6.0,6.0,6.1,...,10.0,10.1,10.1,10.3,10.5,10.9,11.0,11.3,11.7,11.5
151881,p12,23:40:00,5.9,5.9,5.9,5.9,6.0,6.0,6.1,6.1,...,10.1,10.1,10.3,10.5,10.9,11.0,11.3,11.7,11.9,11.4
151882,p12,23:45:00,5.9,5.9,5.9,6.0,6.0,6.1,6.1,6.0,...,10.1,10.3,10.5,10.9,11.0,11.3,11.7,11.9,12.5,11.3
151883,p12,23:50:00,5.9,5.9,6.0,6.0,6.1,6.1,6.0,6.1,...,10.3,10.5,10.9,11.0,11.3,11.7,11.9,12.5,13.0,11.2
151884,p12,23:55:00,5.9,6.0,6.0,6.1,6.1,6.0,6.1,6.1,...,10.5,10.9,11.0,11.3,11.7,11.9,12.5,13.0,13.5,10.7

In [228]:
first_day_df.set_index('time', inplace=True)

In [233]:
first_day_df.sort_index(inplace=True)

In [235]:
first_day_df

,p_num,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,bg-5:15,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
time,,,,,,,,,,,,,,,,,,,,,
10:25:00,p12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,4.1,6.4
10:30:00,p12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.5,4.1,4.2,6.7
10:35:00,p12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,4.1,4.2,4.3,7.1
10:40:00,p12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.5,4.1,4.2,4.3,4.5,7.6
10:45:00,p12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.5,4.1,4.2,4.3,4.5,4.1,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23:35:00,p12,6.0,5.9,5.9,5.9,5.9,6.0,6.0,6.1,6.1,...,10.0,10.1,10.1,10.3,10.5,10.9,11.0,11.3,11.7,11.5
23:40:00,p12,5.9,5.9,5.9,5.9,6.0,6.0,6.1,6.1,6.0,...,10.1,10.1,10.3,10.5,10.9,11.0,11.3,11.7,11.9,11.4
23:45:00,p12,5.9,5.9,5.9,6.0,6.0,6.1,6.1,6.0,6.1,...,10.1,10.3,10.5,10.9,11.0,11.3,11.7,11.9,12.5,11.3
23:50:00,p12,5.9,5.9,6.0,6.0,6.1,6.1,6.0,6.1,6.1,...,10.3,10.5,10.9,11.0,11.3,11.7,11.9,12.5,13.0,11.2
23:55:00,p12,5.9,6.0,6.0,6.1,6.1,6.0,6.1,6.1,6.0,...,10.5,10.9,11.0,11.3,11.7,11.9,12.5,13.0,13.5,10.7

In [86]:
one_row = p12.iloc[[-287]] #144, 216, 288

In [84]:
print(one_row)

       p_num      time  bg-5:55  bg-5:50  bg-5:45  bg-5:40  bg-5:35  bg-5:30  \
176737   p12  00:05:00      8.8      8.9      9.2      9.5      9.7      9.7

        bg-5:25  bg-5:20  ...  bg-0:40  bg-0:35  bg-0:30  bg-0:25  bg-0:20  \
176737      9.9     10.0  ...      4.6      4.7      4.9      5.3      5.9

        bg-0:15  bg-0:10  bg-0:05  bg-0:00  bg+1:00
176737      6.8      7.8      8.2      8.5      6.6

[1 rows x 75 columns]

In [46]:
type(one_row.time)

pandas.core.series.Series

In [48]:
one_row

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
176808,p12,06:00:00,8.5,8.9,9.2,9.5,9.8,9.8,9.5,9.2,...,5.4,5.5,5.5,5.5,5.5,5.5,5.5,5.5,5.5,6.0

In [188]:
import pandas as pd
from datetime import timedelta

def transform_into_ts(df):
    # Initialize an empty DataFrame that will hold all the concatenated results
    final_df = pd.DataFrame(columns=['time', 'bg'])

    # Loop through each row in the DataFrame
    for _, row in df.iterrows():  # Use iterrows() to iterate through DataFrame rows
        # Ensure 'time' is a datetime object
        start_time = pd.to_datetime(row['time'])

        # Extract the first value (assuming the first value is associated with 'bg-0:00')
        first_value = row['bg-0:00']

        # Create a DataFrame for the first entry
        new_row = pd.DataFrame({'time': [start_time], 'bg': [first_value]})
        
        # Concatenate the first row into the final DataFrame
        final_df = pd.concat([final_df, new_row], ignore_index=True)

        # Iterate over the remaining columns (assuming bg columns start at index 2)
        for i, column in enumerate(reversed(row.index[2:-2])):  # Skip the last two columns if needed
            value = row[column]  # Get the value for the current column

            # Create the time for each 'bg-*' column by adding a time delta (adjust as needed)
            time_delta = timedelta(minutes=-5 * (i + 1))  # Example: 5-minute intervals
            new_time = start_time + time_delta  # Adjust time based on column

            # Create a new row for the time and value
            new_row = pd.DataFrame({'time': [new_time], 'bg': [value]})
            
            # Concatenate the new row into the final DataFrame
            final_df = pd.concat([final_df, new_row], ignore_index=True)

    #Set 'time' as the index and sort by time
    #final_df.set_index('time', inplace=True)
    #final_df.sort_index(inplace=True)

    return final_df

# Example usage with a DataFrame:
# Assuming you have a DataFrame 'df' with rows of data
# final_df = transform_into_ts(df)
# print(final_df)

In [190]:
one_rows

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
151725,p12,10:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,4.1,6.4
151726,p12,10:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.5,4.1,4.2,6.7
151727,p12,10:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,4.1,4.2,4.3,7.1
151728,p12,10:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.5,4.1,4.2,4.3,4.5,7.6
151729,p12,10:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.5,4.1,4.2,4.3,4.5,4.1,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151880,p12,23:35:00,6.0,5.9,5.9,5.9,5.9,6.0,6.0,6.1,...,10.0,10.1,10.1,10.3,10.5,10.9,11.0,11.3,11.7,11.5
151881,p12,23:40:00,5.9,5.9,5.9,5.9,6.0,6.0,6.1,6.1,...,10.1,10.1,10.3,10.5,10.9,11.0,11.3,11.7,11.9,11.4
151882,p12,23:45:00,5.9,5.9,5.9,6.0,6.0,6.1,6.1,6.0,...,10.1,10.3,10.5,10.9,11.0,11.3,11.7,11.9,12.5,11.3
151883,p12,23:50:00,5.9,5.9,6.0,6.0,6.1,6.1,6.0,6.1,...,10.3,10.5,10.9,11.0,11.3,11.7,11.9,12.5,13.0,11.2
151884,p12,23:55:00,5.9,6.0,6.0,6.1,6.1,6.0,6.1,6.1,...,10.5,10.9,11.0,11.3,11.7,11.9,12.5,13.0,13.5,10.7

In [192]:
final_df = transform_into_ts(one_rows)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22620\3551855788.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, new_row], ignore_index=True)

In [194]:
final_df.shape

(11520, 2)

In [196]:
final_df

                     time   bg
0     2024-10-02 10:25:00  4.1
1     2024-10-02 10:20:00  4.5
2     2024-10-02 10:15:00  NaN
3     2024-10-02 10:10:00  NaN
4     2024-10-02 10:05:00  NaN
...                   ...  ...
11515 2024-10-02 18:20:00  6.1
11516 2024-10-02 18:15:00  6.1
11517 2024-10-02 18:10:00  6.0
11518 2024-10-02 18:05:00  6.0
11519 2024-10-02 18:00:00  5.9

[11520 rows x 2 columns]

In [206]:
final_df.bg.isnull()

0        False
1        False
2         True
3         True
4         True
         ...
11515    False
11516    False
11517    False
11518    False
11519    False
Name: bg, Length: 11520, dtype: bool

In [57]:
# Set the 'date' column as the index
df.set_index('time', inplace=True)
df.sort_index(inplace=True)

In [59]:
df.to_csv('../data/interim/p12_example4.csv', index=True)  # Save to a CSV file